.wrapper {
  .about {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    padding: 144px 0px 144px 250px;

    @media (max-width: 1200px) {
      padding: 144px 100px 144px 100px;
    }

    .item {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 72px 0px;
    }
    .title {
      font-family: Raleway;
      font-size: 32px;
      font-weight: 700;
      line-height: 42px;
      color: #100e24;
    }
    .subTitle {
      font-family: Raleway;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      color: #100e24;
    }
    .logo {
      width: 50%;
      display: flex;
      align-items: center;
      padding: 100px 82px;
      border-radius: 10px;
      background: #f9f9f9;
    }
  }
}

@media (max-width: 475px) {
  .wrapper {
    width: 100%;
    .about {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 16px;
    }
    .item {
      width: 100% !important;
      display: flex;
      flex-direction: column;
      padding: 0px 16px;
    }
    .title {
      font-family: Raleway;
      font-size: 24px;
      font-weight: 700;
      line-height: 31px;
    }
    .subTitle {
      font-family: Raleway;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
    .logo {
      width: 100% !important;
      padding: 52px 24px;
    }
  }
}
