.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px 32px 32px 32px;
  border-radius: 10px;
  background: #e8ca931a;

  &--variant {
    &-secondry {
      background: #e8ca9342;
    }
  }
  .item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .title {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
  }
  .subTitle {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #666574;
  }
  .summ {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-align: center;
  }
}
