* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  color: #d4b67f;
}

.app {
  width: 100%;
}
.content {
  width: 100%;
  height: 603px;
  padding: 128px 250px 160px 250px;
  background: url("/Images/Group26.png");

  @media (max-width: 1200px) {
    padding: 128px 100px 160px 100px;
  }

  &Header {
    width: 100%;
    // height: 412px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  &Text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 51px 0px;
  }
  &Title {
    width: 100%;
    font-family: Raleway;
    font-size: 56px;
    font-weight: 700;
    line-height: 73px;
    color: #100e24;

    @media (max-width: 1200px) {
      width: 100%;
      font-size: 40px;
      line-height: 40px;
    }
  }

  &SupTitle {
    color: #d4b67f;
  }
  &Descrip {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
  }
  &Item {
    width: 50%;
    object-fit: contain;
  }
  &Img {
    width: 100%;
  }
}

.menuList {
  display: none;
}

.menu {
  width: 100%;
  padding: 140px 250px;

  @media (max-width: 1200px) {
    padding: 140px 100px;
  }

  &Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
  &Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &Title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: #100e24;
  }
  &Item {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  &Indicator {
    width: 56px;
    height: 56px;
    padding: 16px 17px 16px 15px;
    background: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
  &Button {
    margin: 0 auto;
  }
}

.servisce {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #efefef99;
  padding: 72px 250px 64px 250px;

  @media (max-width: 1200px) {
    padding: 72px 100px 64px 100px;
  }

  &Header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
  &Menu {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  &Title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }
  &Button {
    margin: 0 auto;
  }
}

.books {
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding: 144px 250px 0px 250px;

  @media (max-width: 1200px) {
    padding: 144px 100px 0px 100px;
  }

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &Title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #100e24;
  }
  &Menu {
    display: flex;
    gap: 24px;
  }
  &Item {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  &Indicator {
    width: 56px;
    height: 56px;
    padding: 16px 17px 16px 15px;
    background: #f2f2f2;
    border-radius: 50%;
    cursor: pointer;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 144px 0px 144px 250px;

  @media (max-width: 1200px) {
    padding: 144px 100px 144px 100px;
  }

  &Item {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 72px 0px;
  }
  &Title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    color: #100e24;
  }
  &SubTitle {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #100e24;
  }
  &Logo {
    width: 50%;
    display: flex;
    align-items: center;
    padding: 100px 82px;
    border-radius: 10px;
    background: #f9f9f9;
  }
}

.designedby {
  width: 100%;
  display: none;
  justify-content: center;
  &Title {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #00000066;
  }
  &Text {
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
  }
}

.swiperSlide {
  padding-bottom: 100px;
}

.swiper {
  width: 100%;
  padding: 0px 250px;
}

.book-slider {
  .swiper-pagination-bullet {
    width: 27px !important;
    height: 5px !important;
    border-radius: 7px !important;
    background-color: #d5d5d5 !important;
    &.swiper-pagination-bullet-active {
      background-color: #e8ca93 !important;
    }
  }
}

@media (max-width: 475px) {
  .content {
    width: 100%;
    padding: 72px 16px 30px 16px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
  }
  .contentHeader {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  .contentText {
    width: 100%;
  }
  .contentTitle {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
  }
  Button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contentItem {
    width: 100%;
    padding: 20px 32px;
  }
  .menu {
    display: none;
  }
  .servisce {
    display: flex;
    flex-direction: column;
    padding: 40px 16px 63px 16px;
  }
  .servisceMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .books {
    display: flex;
    flex-direction: column;
    padding: 42px 0px 42px 16px;
  }
  .booksHeader {
    padding: 0px 16px;
  }
  .booksSubTitle {
    display: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
  }
  .aboutItem {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
  }
  .aboutTitle {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
  }
  .aboutSubTitle {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
  .aboutLogo {
    width: 100%;
    padding: 52px 24px;
  }
  .designedby {
    display: flex;
    padding: 16px 16px 100px;
  }
  .menuList {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    justify-content: space-between;
    padding: 16px 16px;
    align-items: center;
    background: #fff;

    a {
      color: #100e24;
    }
  }
}
