.wrapper {
  max-width: 100%;
  display: flex;
  height: 56px;
  gap: 8px;
  border: 1px solid #100e24;
  border-radius: 8px;
  padding: 16px 32px;
  align-items: center;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &--variant {
    &-primary {
      background: #e8ca93;
      border: none;
    }
    &-secondry {
      border: 1px solid #e8ca93;
      color: #e8ca93;
    }
    &-third {
      border: 1px solid #e0e0e0;
      color: #ceb079;
      padding: 18px 70px;
    }
    &-four {
      border: 1px solid #e0e0e0;

      .content {
        display: flex;
        padding: 18px 40px;
      }
    }
  }
  &--size {
    &-middle {
      padding: 18px 48px;
    }
    &-long {
      width: 100%;
    }
    &-strong {
      width: 100%;
      padding: 18px 126px;
    }
    &-sale {
      padding: 18px 111px;
    }
    &-four {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .content {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
  .title {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
  }
}
