.wrapper {
  width: 100%;
  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .icon {
    max-width: 100%;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .name {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    color: #100e24;
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .point {
    width: 7px;
    height: 7px;
    background: #e8ca93;
    border-radius: 50%;
    cursor: pointer;
  }
  .rate {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .title {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #7a7988;
  }
  .subTitle {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    color: #100e24;
  }
  .icon {
    cursor: pointer;
  }
}
