.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 48px;
  box-shadow: 0px 9px 22px 0px #0000000d;
  border-radius: 10px;
  background: #fff;
  transition-duration: 0.2s;

  &:hover {
    transform: scale(1.05);
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .icon {
    width: 72px;
    height: 72px;
    padding: 16px;
    background: #e8ca9333;
    border-radius: 50%;
    cursor: pointer;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .title {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
  }
  .subTitle {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
