.wrapper {
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 100px 100px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    // justify-content: space-between;
    padding: 56px 0px 48px 0px;
  }
  .network {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .icons {
    display: flex;
    gap: 15px;
  }
  .icon {
    width: 40px;
    height: 40px;
    background: #e8ca9333;
    padding: 8px;
    border-radius: 50%;
  }
  .insta {
    width: 40px;
    height: 40px;
    background: #e8ca9333;
    border-radius: 50%;
    padding: 10px;
  }
  .in {
    width: 40px;
    height: 40px;
    background: #e8ca9333;
    border-radius: 50%;
    padding: 7px 7px 9px 9px;
  }
  .subText {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
  }
}
