.wrapper {
  width: 100%;
  display: flex;
  padding: 24px 250px;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 24px 100px;
  }

  .header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item {
    display: flex;
    gap: 99px;
    align-items: center;

    @media (max-width: 1200px) {
      display: flex;
      gap: 40px;
    }
  }
  .menu {
    display: flex;
    gap: 20px;

    @media (max-width: 1200px) {
      display: flex;
      gap: 15px;
    }
  }
  .list {
    font-family: Raleway, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #100e24;
    text-decoration: none;
  }
  .content {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  .notificat {
    display: flex;
    gap: 24px;
  }
  .signInIcon {
    display: none;
  }
  .lang {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .chevron {
    display: flex;
    justify-content: center;
  }

  a {
    text-decoration: none;
  }
  a:hover {
    color: #d4b67f;
  }
}

@media (max-width: 475px) {
  .wrapper {
    width: 100%;
    position: fixed;
    z-index: 9999;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    background: #fff;
    .menu {
      display: none;
    }
    .lang {
      display: none;
    }
    .notificatIcon {
      display: none;
    }
    .signInIcon {
      display: flex;
    }
    .button {
      display: none;
    }
  }
}
