.wrapper {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  .title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
  }
  .input {
    padding: 16px 24px;
  }
  .link {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
  .signUp {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #ceb079;
  }
  .forgot {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #100e24;
  }
}
