.wrapper {
  display: flex;
  flex-direction: column;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 100px 250px;
  }
  .list {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: 475px) {
  .wrapper {
    display: flex;
    flex-direction: column;

    .menu {
      display: flex;
      flex-direction: column;
      gap: 48px;
      padding: 100px 16px 24px 16px;
    }
    .list {
      display: flex;
      flex-direction: column;
    }
  }
}
