.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;

  .services {
    display: flex;
    flex-direction: column;
    padding: 80px 250px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
  .menu {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: 475px) {
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 24px 15px 24px !important;

    .menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
