.wrapper {
  width: 671px;
  height: 589px;
  display: flex;
  flex-direction: column;
  gap: 92px;
  padding: 90px 32px 88px 40px;
  border-radius: 8px;
  background: #e8ca9321;
  .content {
    display: flex;
    gap: 24px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .title {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: #100e24;
  }
  .subTitle {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #666574;
  }
  .summ {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #ceb079;
  }
  .button {
    margin: 0 auto;
  }
}
