.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 56px;

  .menu {
    display: flex;
    flex-direction: column;
    gap: 56px;
    padding: 0px 150px;
  }
  .title {
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }
  .list {
    display: flex;
    gap: 24px;
  }
}

@media (max-width: 475px) {
  .wrapper {
    .menu {
      padding: 100px 16px 24px 16px;
    }
    .list {
      display: flex;
      flex-direction: column;
    }
  }
}
