.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 100px 100px;
  z-index: 9999;
  position: fixed;

  .header {
    padding: 56px 0px 0px 0px;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 160px 0px 0px 0px;
    gap: 40px;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .input {
    padding: 16px;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 160px 0px 0px;
  }
  .title {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
  }
  .subTitle {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #666574;
  }
  .item {
    padding: 0px 160px 0px 0px;
  }
}
