.wrapper {
    width: 100%;
    display: flex;
    padding: 0px 250px 27px;
    align-items: center;
    justify-content: space-between;
  
    @media (max-width: 1200px) {
      padding: 0px 100px 27px 100px;
    }
  
    .title {
      font-family: Nunito Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      color: #666574;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      gap: 24px;
    }
    .menu {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 40px;
    }
    .itc {
      text-align: center;
    }
    .list {
      display: flex;
      align-items: center;
      gap: 40px;
    }
    .link {
      font-family: Raleway;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: #100e24;
      text-decoration: none;
    }
    .network {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
    .icons {
      display: flex;
      gap: 15px;
    }
    .icon {
      width: 40px;
      height: 40px;
      background: #e8ca9333;
      padding: 8px;
      border-radius: 50%;
    }
    .insta {
      width: 40px;
      height: 40px;
      background: #e8ca9333;
      border-radius: 50%;
      padding: 10px;
    }
    .in {
      width: 40px;
      height: 40px;
      background: #e8ca9333;
      border-radius: 50%;
      padding: 7px 7px 9px 9px;
    }
    .subTitle {
      font-family: Nunito Sans;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      color: #00000066;
    }
    .text {
      font-family: Nunito Sans;
      font-size: 14px;
      font-weight: 600;
      line-height: 19px;
      color: #666574;
    }
    .subText {
      font-family: Raleway;
      font-size: 22px;
      font-weight: 600;
      line-height: 29px;
    }

    a {
        text-decoration: none;
      }
      a:hover {
        color: #d4b67f;
      }
  }

  @media (max-width: 475px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 16px 15px 16px;
      
      .menu {
        display: none;
      }
      .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .title {
        font-size: 10px;
        line-height: 10px;
      }
      .network {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        padding-top: 25px;
      }
      .subText {
        font-family: Raleway;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
      }
    }
  }