.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;

  &--active{
    &-active{
      color: #CEB079;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
  }
  .title {
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
  }
}
