.wrapper {
  width: 323px;
  height: 589px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 4px 23px 0px #0000000a;

  .picture {
    width: 275px;
    height: 265px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
    padding: 30px 40px;
    background: #e8ca9329;
  }
  .iconTitle {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    color: #100e24;
    text-align: center;
  }
  .iconSubTitle {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #00000066;
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .title {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #100e24;
  }
  .data {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .dataIcon {
    cursor: pointer;
  }
  .dataTitle {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #100e24;
  }
  .summ {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    color: #ceb079;
  }
}
