.wrapper {
  max-width: 100%;
  z-index: 9999;
  position: fixed;
  display: flex;
  justify-content: space-between;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 53px 48px 53px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .form {
    display: flex;
    gap: 34px;
  }
  .item {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .input {
    width: 300px;
    padding: 16px;
  }
  .button {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
  }
  .link {
    display: flex;
    margin: 0 auto;
  }
  .network {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .icons {
    display: flex;
    gap: 15px;
  }
  .icon {
    width: 40px;
    height: 40px;
    background: #e8ca9333;
    padding: 8px;
    border-radius: 50%;
  }
  .insta {
    width: 40px;
    height: 40px;
    background: #e8ca9333;
    border-radius: 50%;
    padding: 10px;
  }
  .in {
    width: 40px;
    height: 40px;
    background: #e8ca9333;
    border-radius: 50%;
    padding: 7px 7px 9px 9px;
  }
  .subText {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
  }
}
