.wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  .menu {
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
  .list {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}
