.wrapper {
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 18px 32px;
  border: 1px solid #000000;
  border-radius: 8px;

  .title {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #100e24;
  }
}
